:root {
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.5rem;
  --size-6: 2rem;

  --span-12: calc(100% / 12);

  --w-1: var(--span-12);
  --w-2: calc(var(--span-12) * 2);
  --w-3: calc(var(--span-12) * 3);
  --w-4: calc(var(--span-12) * 4);
  --w-5: calc(var(--span-12) * 5);
  --w-6: calc(var(--span-12) * 6);
  --w-7: calc(var(--span-12) * 7);
  --w-8: calc(var(--span-12) * 8);
  --w-9: calc(var(--span-12) * 9);
  --w-10: calc(var(--span-12) * 10);
  --w-11: calc(var(--span-12) * 11);
  --w-12: 100%;

  --container: calc(var(--w-12) - var(--size-6));

  --light-100: #eaeef7;
  --light-200: #c8cdd6;
  --light-300: #8c93a1;
  --dark-100: #131c2e;
  --dark-200: #2f3749;
  --dark-300: #4c5361;
  --red: #e71414;
  --orange-light: #ffd580;
  --orange-medium: #ff7a1a;
  --orange-dark: rgb(237 88 36);

  scroll-behavior: smooth;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  background-color: var(--light-100);
}

.container {
  width: var(--container);
  margin-left: auto;
  margin-right: auto;
}
.button {
  padding: var(--size-4) var(--size-6);
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid var(--orange-light);
  background-color: var(--orange-medium);
  color: var(--light-100);
  border-radius: var(--size-1);
  font-family: inherit;
  display: block;
}
.button:hover {
  background-color: var(--orange-dark);
  color: var(--light-100);
  cursor: pointer;
}
.border {
  border-bottom: 2px solid var(--light-300);
  width: var(--w-2);
  margin: var(--size-5) auto;
}
.main-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: var(--size-4);
}
.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: var(--size-2);
}
.subsection-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: var(--size-1);
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--orange-medium);
  width: 100vw;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-2) 0;
}
.navbar .logo img {
  width: 96px;
}
.menu-button {
  padding: var(--size-1) var(--size-2);
  border: 2px solid var(--orange-light);
  background-color: var(--orange-dark2);
  color: var(--light-100);
  border-radius: var(--size-1);
  font-family: inherit;
  display: block;
}
.menu-button:hover {
  background-color: var(--orange-dark);
  color: var(--light-100);
  cursor: pointer;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  padding: var(--size-4);
  position: absolute;
  width: var(--w-12);
  background-color: var(--orange-dark);
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.navigation-list.show {
  top: var(--w-12);
  visibility: visible;
  opacity: 100%;
}
.navigation-list li {
  padding: var(--size-1) var(--size-2);
}
.navigation-list li a {
  display: block;
}

.main-content {
  background-color: transparent;
  overflow-x: hidden;
}
.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
.hero-slider {
  height: var(--w-12);
  width: var(--w-12);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  z-index: -1;
  transition: all 2s ease-in-out;
}
.hero-slider img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100vw;
  flex-shrink: 0;
}
.hero-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0 0 0 / 0.4);
  color: var(--light-100);
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-description {
  margin-bottom: var(--size-2);
}
.about-contact {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  margin-top: var(--size-4);
}
.about {
  width: var(--w-12);
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  padding: 0 0 var(--size-4);
}
.about-img {
  width: 100%;
  border-radius: var(--size-2);
}
.about-caption {
  color: var(--dark-300);
  font-style: italic;
  padding: 0;
}
.about-caption::before,
.about-caption::after {
  content: '"';
}
.about-author {
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  padding: 0;
}
.author-img {
  width: calc(var(--size-6) * 2);
  height: calc(var(--size-6) * 2);
  border-radius: 9999px;
}
.author-data {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  justify-content: center;
}
.author-name {
  font-weight: 700;
}
.author-info {
  color: var(--dark-300);
  font-style: italic;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  padding: var(--size-4) 0;
}
.feature-item {
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  align-items: center;
}
.feature-icon {
  padding: var(--size-2);
  border: 1px solid var(--orange-medium);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange-dark);
}

.contact {
  background-color: var(--light-200);
  padding: var(--size-4);
  width: auto;
  height: fit-content;
  border-radius: var(--size-2);
}
.contact-form {
  margin-top: var(--size-6);
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  padding: var(--size-2) 0;
}
.input-label {
  font-weight: 500;
}
.input-field {
  padding: var(--size-2);
  background-color: var(--light-100);
  border: 2px solid var(--light-300);
  border-radius: var(--size-1);
  color: var(--dark-100);
  font-family: inherit;
}
.error-msg {
  font-size: 12px;
  color: var(--red);
  font-weight: 500;
  visibility: hidden;
  display: none;
}
.contact-form .button {
  width: var(--w-12);
}
.package {
  margin-top: var(--size-4);
}
.package-banner {
  padding: var(--size-6) 0;
  background-color: var(--light-200);
  text-align: center;
}
.package-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
  padding: var(--size-6);
}
.package-item {
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  align-items: flex-start;
  width: var(--w-12);
}
.package-icon {
  padding: var(--size-2);
  color: var(--orange-dark);
  border: 1px solid var(--orange-medium);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.package-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
.package-content h3 {
  font-weight: 500;
}

.cta {
  margin-top: var(--size-4);
  padding: var(--size-6) 0;
  border-top: 1px solid var(--dark-100);
}
.cta .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  align-items: center;
}
.cta .container p {
  width: var(--w-12);
}
.cta .container .button {
  width: var(--w-12);
}

.footer {
  border-top: 1px solid var(--dark-1);
  padding: var(--size-4);
  background-color: var(--orange-dark);
  color: var(--light-100);
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  align-items: center;
}
.footer-navigation {
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
}

a {
  font-weight: 500;
  color: var(--light-100);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline solid black 2px;
  color: black;
}

@media only screen and (max-width: 767px) {
  .main-title {
    font-size: 30px;
    margin-bottom: var(--size-2);
  }

  .about-caption {
    font-size: 14px;
  }

  .feature .subsection-title {
    font-size: 14px;
  }

  .cta .container .section-title {
    font-size: 23px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --container: calc(768px - calc(var(--size-6) * 2));
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --container: calc(1024px - calc(var(--size-6) * 2));
  }
  .navbar .logo img {
    width: 120px;
  }
  .menu-button {
    display: none;
  }
  .navigation-list {
    flex-direction: row;
    gap: 0;
    padding: 0;
    visibility: visible;
    opacity: 100%;
    position: static;
    width: auto;
    background-color: transparent;
    z-index: 0;
  }
  .about-contact {
    flex-direction: row;
  }
  .about {
    width: var(--w-8);
  }
  .about-caption {
    padding: 0 var(--size-6);
  }
  .about-author {
    padding: 0 var(--size-6);
  }
  .contact {
    width: var(--w-4);
  }
  .package-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .package-item {
    width: var(--w-4);
  }
  .cta .container p {
    width: var(--w-6);
  }
  .cta .container .button {
    width: var(--w-3);
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --container: calc(1280px - calc(var(--size-6) * 2));
  }
}

@media only screen and (min-width: 1536px) {
  :root {
    --container: calc(1536px - calc(var(--size-6) * 2));
  }
}
